*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#root {
    align-content: start;
    height: 100vh;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;

}

form {
    font-size: 1.6rem;
    padding: 1rem;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0 black;
    
    [type] {
        font: inhertit;
        pointer-events: initial;
    }
    [type='submit'] {
        cursor: 'pointer';
        padding-inline: 1.4rem;
        padding-block: 0.4rem;
    }
}

label {
    display: block;
    margin-bottom: 0.4rem;

    span {
        margin-inline-end: 1rem;
    }
}



.square {
    width: 400px;
    height: 400px;
    border: 4px solid black;
    box-sizing: border-box;
    background-color: white;

    transition: background-color 2s ease;
}

.square:hover {
    transition: background-color 0s;
}

body {
    box-sizing: border-box;
    font-family: system-ui;
}

.hovered {
    background-color: beige;
}

.div {
    border: 1px solid black;

}

p {
    height: 0;
}

