.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    background-color: inherit;
    border-top: 2px solid var(--border-color);
    color: inherit;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

.footer-section h3 {
    color: inherit;
    font-weight: bold;
    opacity: 1;
    text-align: left;
}

.footer-section p {
    text-align: left;
}

.footer-divider {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(30, 41, 57);
    margin: 20px 0;
}

.footer-bottom {
    width: 100%;
    text-align: center;
}

.footer-links-bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-links-bottom a {
    text-decoration: none;
    color: inherit;
}

.footer-section.about {
    min-width: 250px;
}

.footer-section.subscribe {
    min-width: 250px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(42, 42, 42);
    color: rgb(124, 141, 142);
    border: 1px solid rgb(220, 98, 31);
    border-radius: 4px;
    box-sizing: border-box;
}

.subscribe-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(220, 98, 31);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.social-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.light .social-icon {
    filter: invert(0);
}

.dark .social-icon {
    filter: invert(1);
}