/*Button white with black drop shadow with hover */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5dd;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

article {
    width: 350px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button {
  padding: .75rem 1.5rem;
  border-radius: 8px;
  border: none;
  background: white;
  cursor: pointer;
  box-shadow: 2px 2px 0px rgba(0,0,0,.7);
  transition: box-shadow .2s ease, transform .2s ease;
}

.button:hover {
  box-shadow: 4px 4px 0px rgba(0,0,0,.7);
  transform: translate(-2px, -2px);
}

img {
  width: 100%;
}