/* 
Need div root to have background color

Need hover on effect to change background colour to red. 

Need hover off effect to change colours back to white.
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

#root {
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /*
    flex-grow: 1;
    flex-shrink: 1;
    */
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


#root :hover {
    background-color: white;
}

#root :not(:hover) {
    background-color: red;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}