.note {
    border: 2px solid black;
    padding: 1rem;
    margin: 10px;
    color: black;
    width: 250px;
    border-radius: 8px;
}

.delete-btn {
    background-color: rgb(20, 199, 137);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.category {
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    margin: 0;
    text-align: left;
}

.add-note-btn {
    box-shadow: 2px 2px 0px black;
}

.note p {
    text-align: left;
    margin: 5px 0;
}

.MenuButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 300px;
    height: 350px;
}

.form-header {
    margin-bottom: 15px;
    padding-right: 40px;
}

.error-message {
    color: red;
    font-size: 1em;
    margin: 0;
    text-align: left;
}

.exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(24, 198, 142);
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
}

.form-container button[type="submit"] {
    width: 100%;
    background: rgb(20, 199, 137);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}